*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(5, 1, 14, 0.918);
    color: white;
}
.all-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.search-form{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.search-form input{
    outline: none;
    border: 2px solid blue;
    border-radius: 25px;
    padding: 5px 16px;
}
.search-form button{
    position: absolute;
    border-radius: 50%;
    padding: 10px 12px;
    outline: none;
    background-color: white;
    color: darkblue;
    border: 2px solid blue;
    right: 3%;
}
.search-form button:hover{
    background-color: blue;
    color: white;
}
.movie-card{
    position: relative;
    flex: 3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}
.movie-card .img-div{
    position: relative;
    height: 230px;
    width: 170px;

}
.movie-card .img-div span{
    position: absolute;
    top: -8%;
    left: -10%;
    color:white;
    text-align: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: green;
    border: 2px solid tomato;
}
.movie-card img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* filter: brightness(0.9); */


}
.movie-card .fav-icon{
    position: absolute;
    right: 10%;
    top: 5%;
    cursor: pointer;
}
.movie-card .movie-title{
    margin-top: 10px;
}

.trending-wrapper{
    justify-content: center;
    align-items: center;
}
.trending-wrapper .bg-img{
    background-position: center;
    background-size: contain;
    width: 100%;
    opacity: 0.5;
    filter: blur(3px);
    height: 60vh;
    transform: scale(2);
}

.trend-card{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.trend-card .img-div{
    position: relative;
    height: 250px;
    width: 190px;

}
.trend-card .img-div span{
    position: absolute;
    top: -10%;
    left: -15%;
    color:white;
    text-align: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 15px;
    background-color: green;
    border: 3px solid tomato;
}
.trend-card img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* filter: brightness(0.9); */


}
.trend-card .fav-icon{
    position: absolute;
    right: 10%;
    top: 5%;
    cursor: pointer;
}
.trend-card .trend-content{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px 20px;
}
.trend-content h6{
    color: white;
    background-color: orange;
    padding: 4px;
    width: 70px;
    border-radius: 25px;
    text-align: center;
}