*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}
.main-nav{
    border-bottom   : 5px solid darkturquoise;
    font-size: 20px;
    font-weight: 600;
}
.all-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.all-cards-row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
    padding: 0 20px;
}
.all-cards-row::-webkit-scrollbar {
    display: none;
}
.search-form{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.search-form input{
    outline: none;
    border: 2px solid darkturquoise;
    border-radius: 25px;
    padding: 5px 16px;
    transition: all 2s ease;
}
.search-form button{
    position: absolute;
    border-radius: 50%;
    padding: 10px 12px;
    outline: none;
    right: 2%;
    background-color: white;
    color: darkturquoise;
    border: 2px solid darkturquoise;
}
.search-form button:hover{
    border: 2px solid darkturquoise;
    background-color: darkturquoise;
    color: white;
}
.movie-card{
    position: relative;
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}
.movie-card .img-div{
    position: relative;
    height: 230px;
    width: 180px;

}
.movie-card .img-div span{
    position: absolute;
    top: -8%;
    left: -10%;
    color:white;
    text-align: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: rgba(0, 41, 177, 0.815) ;
    border: 2px solid darkturquoise;
}
.movie-card img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* filter: brightness(0.9); */


}
.movie-card .fav-icon{
    position: absolute;
    right: 10%;
    top: 5%;
    cursor: pointer;
}
.movie-card .movie-title{
    margin-top: 10px;
}
.main-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}
.main-wrapper .trending-row-main{

    position: absolute;
    z-index: 10;
    margin: auto;
    display: inline-block;
    bottom: -50%;
    left: 0;
    width: 92%;
}
.trending-wrapper{
}
.trending-wrapper .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.trending-wrapper .welcome h1{
    font-weight: 700;
    font-size: 70px;
}
.trending-wrapper .welcome input{
    width: 100%;
    font-size: 20px;
    outline: none;
    padding: 6px 25px;
    border-radius: 25px;
    border: 3px solid darkturquoise;
}
.trending-wrapper .bg-img{
    background-position: center center;
    width: 100%;
    filter: brightness(0.5);
    /* opacity: 0.8; */
    /* filter: blur(5px); */
    height: 65vh;
}

.trend-card{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.trend-card .img-div{
    position: relative;
    height: 300px;
    width: 210px;

}
.trend-card .img-div span{
    position: absolute;
    top: -10%;
    left: -15%;
    color:white;
    text-align: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 15px;
    background-color: rgba(0, 41, 177, 0.815);
    border: 3px solid darkturquoise;
}
.trend-card img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* filter: brightness(0.9); */


}
.trend-card .fav-icon{
    position: absolute;
    right: 10%;
    top: 5%;
    cursor: pointer;
}
.trend-card .trend-content{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px 20px;
}
.trend-content h6{
    color: white;
    background-color: orange;
    padding: 4px;
    width: 70px;
    border-radius: 25px;
    text-align: center;
}